@import "stylesheets/mixin";

.container {
  max-width: 75%;
  margin: 0 auto;
}

.wrapper {
  margin: 30px 0 120px;
}

.balanceContainer {
  @include row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 16px !important;
}

.balance {
  margin-left: 8px;
  color: blue;
}
