@import "stylesheets/mixin";

.container {
  max-width: 75%;
  margin: 0 auto;

  @include breakpoint(mobile) {
    max-width: 100%;
    margin: 0;
  }
}

.wrapper {
  margin: 40px 0 120px;
}

.header {
  @include row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  @include breakpoint(mobile) {
    @include column;
    margin-bottom: 16px;
  }
}

.headerTitleContainer {
  @include row;
  align-items: center;
  justify-content: center;

  @include breakpoint(mobile) {
    margin-bottom: 16px;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 8px;
}

.button {
  height: 36px;
}

.form {
  @include column;
}

.input {
  margin-bottom: 16px !important;
}

.headerWrapper {
  @include row;
  align-items: center;
  justify-content: center;
}

.inputSearch {
  margin-right: 16px !important;
}

.timesIcon {
  cursor: pointer;
}
