@import "stylesheets/mixin";

.modal {
  @include row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  @include card;
  padding: 16px 32px 32px;
  min-width: 300px;

  @include breakpoint(mobile) {
    min-width: auto;
    width: 100%;
  }
}
