@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) and (max-width: 70em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) and (max-width: 64em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) and (max-width: 50em) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

@mixin card {
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 24px rgba(0, 96, 150, 0.15);
  padding: 8px 32px 32px;
  outline: none;
}
