@import "stylesheets/mixin";

.container {
  height: 100vh;

  @include row;
  align-items: center;
  justify-content: center;
}

.wrapper {
  @include card;
  @include column;
  align-items: center;
  width: 300px;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.input {
  margin-bottom: 16px !important;
}

.errorText {
  width: 100%;
  font-size: 10pt;
  color: rgb(220, 0, 78);
  margin-bottom: 16px;
}
