@import "stylesheets/mixin";

.container {
  @include row;
  align-items: center;
  justify-content: center;
}

.wrapper {
  @include card;
  @include column;
  align-items: center;
  margin: 40px 120px;
}

.input {
  width: 300px;
  margin-bottom: 16px !important;
}

.button {
  width: 100%;
}
