@import "stylesheets/mixin";

.container {
  @include row;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.link {
  color: inherit;
  text-decoration: none;
}

.menuItemIcon {
  margin-right: 8px;
}
